svg {
  font-size: 14px;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}

.background path {
  fill: none;
  stroke: black;
  stroke-opacity: 0.5;
  stroke-width: 0.2px;
}

.foreground path.fade {
  stroke: #000;
  stroke-opacity: .1;
}

.legend {
  font-size: 0.7em;
  font-style: oblique;
}

.legend line {
  fill : none;
  stroke-width: 1px;
}

.setosa {
  stroke: #800;
}

.versicolor {
  stroke: #080;
}

.virginica {
  stroke: #008;
}

.brush .selection {
  fill-opacity: .5;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
  shape-rendering: crispEdges;
  opacity: 0.5
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
  opacity: 1;
}