<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PROSIT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/parallelCord.css" rel="stylesheet">
    <link href="../css/parallelCordMBostock.css" rel="stylesheet"> 

    
</head>

<body>
    <!-- latest version of bootstrap -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

    <!-- older version of bootstrap with working multiselect dropdown -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css">
    
    <!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong>browser. Please <a href="#">upgrade your browser</a>to improve your experience.</p><![endif]-->
    <div class="container-fluid" style="height:100%">
        <div class="row flex-nowrap" style="height:100%">
            <div class="col-auto px-0">
                <div id="sidebar" class="collapse collapse-horizontal show">
                <!-- show is used here to hide or show the sidebar by default-->
                <!-- <div id="sidebar" class="collapse collapse-horizontal show border-end">  -->
                    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">

                        <h4 id="dashboardHeader" style="color:rgb(18, 113, 249)">Filters</h4>
                        <hr class="line">

                        <div style="padding-left:10px; padding-right:10px;">
                            <input type="search" id="form1" class="form-control" placeholder="Rules query" aria-label="Search" />
                        </div>

                        <hr class="line">

                        <div style="padding-left:10px;">
                            <label> Feature selection</label>
                            <select id="featureSelect" multiple>
                            <optgroup label="Screen">
                                <option value="noScreenLocks" selected="selected">No of Unlocks</option>
                                <option value="firstScreenUnlock" selected="selected">First Screen Unlock</option>
                                <option value="lastScreenLock" selected="selected">Last Screen Lock</option>
                                <option value="maxScreenTime" selected="selected">Max On time</option>
                                <option value="totalScreenTime" selected="selected">Total On time</option>
                            </optgroup>

                            <optgroup label="Calling">
                                <option value="noMissed" selected="selected">No of missed calls</option>
                                <option value="noDialled" selected="selected">No of dialed calls</option>
                                <option value="noIncoming" selected="selected">No of incoming calls</option>
                                <option value="minDurationIncoming" selected="selected">Min dur of incoming calls</option>
                                <option value="maxDurationIncoming" selected="selected">Max dur of incoming calls</option>
                                <option value="totalDurationIncoming" selected="selected">Total dur of incoming calls</option>
                                <option value="noOutgoing" selected="selected">No of outgoing calls</option>
                                <option value="minDurationOutgoing" selected="selected">Min dur of outgoing calls</option>
                                <option value="maxDurtaionOutgoing" selected="selected">Max dur of outgoing calls</option>
                                <option value="totalDurationOutgoing" selected="selected">Total dur of outgoing calls</option>
                                <option value="totalNoCalls" selected="selected">Total number of calls</option>
                                <option value="totalDurationCalls" selected="selected">Total dur of all calls</option>
                            </optgroup>

                            <optgroup label="Mobility">
                                <option value="stepCount" selected="selected">No of steps</option>
                                <option value="totalDistance" selected="selected">Total Distance</option>
                                <option value="noStayPoints" selected="selected">No of Stay Points</option>
                                <option value="locationVariance" selected="selected">Location Variance</option>
                                <option value="locationEntropy" selected="selected">Location Entropy</option>
                            </optgroup>

                            <optgroup label="Sleep">
                                <option value="sleepStartTime1" selected="selected">Sleep start time 1</option>
                                <option value="sleepEndTime1" selected="selected">Sleep end time 1</option>
                                <option value="sleepDuration1" selected="selected">Sleep duration 1</option>
                                <option value="sleepStartTime2" selected="selected">Sleep start time 2</option>
                                <option value="sleepEndTime2" selected="selected">Sleep end time 2</option>
                                <option value="sleepDuration2" selected="selected">Sleep duration 2</option>
                                <option value="totalSleepDuration" selected="selected">Total Sleep duration</option>
                                <option value="noSleepInterruptions" selected="selected">No of sleep Interruptions</option>
                            </optgroup>
                        </select>
                        </div>

                        <!-- <div class="container" style="padding-top: 5px;">
                            <div class="row">
                                <div class="col text-center">
                                    <button class="btn btn-outline-primary btn-sm" id="featureSelectFilter">Submit</button>
                                </div>
                            </div>
                        </div> -->

                        <hr class="line">

                        <!-- <div class="box" style="text-align: center;">
                            <div class="rangeSlider">
                                <input type="range" class="circleRange" min="0" max="10" value="6">
                            </div>
                            <div class="value"></div>
                        </div> -->

                        <div class="slidecontainer" style="text-align: center; padding-left:10px; padding-bottom:0px; margin-bottom:0px;">
                            <label>Glyph Radius: </label>
                            <span id="sliderVal"></span>
                            <br>
                            <div>
                                <input type="range" min="5" max="20" value="10" steps='1' class="slider" id="myRange">
                            </div>
                        </div>
                        <hr class="line">

                        <!-- Toggle glyph switch -->
                        <div style="text-align: center;">
                            <label class="form-check-label selectedLabel" id="radialSwitch" for="toggleGlyph" style="text-align: center;">Radial Glyph</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="toggleGlyph"/>
                            </div>
                            <label class="form-check-label" id="flowerSwitch" for="toggleGlyph" style="text-align: center;">Flower Glyph</label>
                        </div>

                        <hr class="line">

                        <!-- Show tooltip switch -->
                        <div style="text-align: center;">
                            <label class="form-check-label" id="hideLabels"  for="toggleLabels" style="text-align: center;">Hide Labels</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="toggleLabels"/>
                            </div>
                            <label class="form-check-label selectedLabel" id="showLables" for="toggleLabels" style="text-align: center;">Show Lables</label>
                        </div>

                        <hr class="line">

                        <!-- Toggle parallel cord chart switch -->
                        <div style="text-align: center;">
                            <label class="form-check-label selectedLabel" id="aggregatedFeatures" for="toggleFeature" style="text-align: center;">Aggregated Features</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="toggleFeature"/>
                            </div>
                            <label class="form-check-label" id="individualFeatures"  for="toggleFeature" style="text-align: center;">Individual Features</label>
                        </div>

                        <hr class="line">


                        <!-- Toggle polar chart switch  -->
                        <!-- Decided not to implement this feature -->
                        <!-- <div>
                            <label class="form-check-label" for="toggleGlyph" style="text-align: center;">Toggle Polar chart</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="togglePolarChart" style="float: none; margin-left: 20%;" />
                            </div>
                        </div>
                        <hr class="line"> -->

                        <div>
                            <table style="width:100%;">
                                <tr>
                                    <td class="filterCheckbox">
                                        <input type="checkbox" id="lckCheckBox" checked>
                                        <br>
                                        <label>LCK</label>
                                    </td>
                                    <td class="filterCheckbox">
                                        <input type="checkbox" id="brtCheckBox" checked>
                                        <br>
                                        <label>BRT</label>
                                    </td>
                                    <td class="filterCheckbox">
                                        <input type="checkbox" id="accCheckBox" checked>
                                        <br>
                                        <label>ACC</label>
                                    </td>
                                    <td class="filterCheckbox">
                                        <input type="checkbox" id="gyrCheckBox" checked>
                                        <br>
                                        <label>GYR</label>
                                    </td>
                                </tr>
                            </table>

                        </div>

                        <hr class="line">

                        <div style="display:flex; justify-content: center; align-items: center;">
                            <button type="button" class="btn btn-outline-primary btn-sm" id="Submit">Submit</button>
                        </div>

                    </div>
                </div>
            </div>
            <main class="col ps-md-2 pb-10">
                <div class="row py-2" id="header">
                    <div class="col-1">
                        <a data-toggle="collapse" href="#" data-target="#sidebar" aria-expanded="false">Menu</a>
                        <!-- <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"> -->
                        </a>
                    </div>
                    <div class="col-11" style="text-align:left;">
                        <h4 id="dashboardHeader" style="color:rgb(18, 113, 249)">PROSIT Dashboard</h4>
                    </div>
                </div>
                <div class="pa-1" id="bottom">
                    <svg class="svg1" id="chart1"></svg>
                    <svg class="svg2" id="chart2"></svg>
                    <svg class="svg3" id="chart3"></svg>
                    <svg class="svg3" id="chart4"></svg>
                    <!-- <svg class="svg3" id="chart5"></svg> -->
                </div>
                <br><br>
            </main>
        </div>
    </div>

    

    <script> 
    //settings for multiselect dropdown
    $('#featureSelect').multiselect({
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        enableFiltering: true,
        filterPlaceholder: 'Search',
        includeSelectAllOption: true,
        buttonWidth: '140px',
        maxHeight: screen.height * 0.6,
        // buttonClass: 'btn btn-link',
        numberDisplayed: 1
    })

    // Calling server route to find dim reduce for all columns
    featurelist = $('#featureSelect').val()
    w = Math.floor($('.svg1')[0].getBoundingClientRect().width);
    h = Math.floor($('.svg1')[0].getBoundingClientRect().height);
    var data = { "featureColumns": featurelist, "width":w, "height":h };
    // $.ajax({
    //     type: "POST",
    //     contentType: 'application/json',
    //     url: "/dimReduceParticipants"
    // });
    $.ajax({
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(data),
                url: "/dimReduceParticipants",
                success: function(status) {
                    if (status === "status1: file updated") {
                        // console.log("FeatureData file updated")
                    }
                    if (status === "status2:single column") {
                        alert("Please select more than one column in Feature selection drop down!!!")
                        // console.log("FeatureData file reset: single column selected")
                    }
                    if (status === "status3:file reset") {
                        // console.log("FeatureData file reset: all columns selected")
                    }
                }
            });

    </script>
    
    <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
    <!-- <script src="https://unpkg.com/d3-fetch"></script> -->
    <!-- <script src="https://d3js.org/d3.v3.min.js"></script> -->
    
    <!-- Demo d3.js charts -->
    <!-- <script src="../js/demo/chart1.js"></script> -->
    <script src="../js/demo/barchart.js"></script>
    <!-- demo forceSimulation -->
    <script src="../js/demo/forceSimulation.js"></script>
    <!-- paralled cord chart -->
    <!-- <script src="../js/demo/parallelCord.js"></script> -->
    <script src="../js/demo/parallelCordMBostock.js"></script>

    <!-- PROSIT Charts -->
    <!-- glyphs scatter plot : svg1 -->
    <script src="../js/glyphs.js"></script>
    <!-- spiral time chart : svg2 -->
    <script src="../js/radialTimeChart.js"></script>
    <!-- loading symbol during buffer : svg2 -->
    <script src="../js/buffering.js"></script>
    <!-- parallel cordinate chart : svg3 -->
    <!-- <script src="../js/parallelCordChart.js"></script> -->
    <!-- renderQueue -->
    <script src="../js/renderQueue.js"></script>
    <script>
        // parameters
        var glyphsChart ="chart1";
        var radialTimeChart ="chart2";
        var parallerCordChart ="chart3";
        var forcedSimulationChart ="chart4"
        var barChart ="chart5"
        var radius = 10    //default value of 10, if u change this, change it in html slider element as well
        var toggleGlyph = "radialGlyph" //toggleGlyph switch values: "radialGlyph"/"flowerGlyph"
        var toggleLabels = true //toggleLabels switch values: true/false
        var toggleFeature = "aggregatedFeatures" //ParallelCordFeatures switch values: "aggregatedFeatures"/"individualFeatures"
        var brtChecked = true;
        var accChecked = true;
        var gyrChecked = true;
        var lckChecked = true;
        var featurelist = $('#featureSelect').val()
        
        // plotting glyphs
        // updateGlyphs(glyphsChart, radialTimeChart, parallerCordChart, toggleGlyph, radius=8, brtChecked, accChecked, gyrChecked, lckChecked);

        // plotting paraller cordinates
        // updateParallelCord(parallerCordChart);

        // plotting dummy forced network chart
        // updateForceSimulation(forcedSimulationChart);

        // plotting dummuy bar chart
        // updateBarChart(barChart);

        // auto refresh after window resizing
        jQuery(function($) {
            var windowWidth = $(window).width();
            var windowHeight = $(window).height();
            var id;
            $(window).resize(function() {
                clearTimeout(id)
                id = setTimeout(doneResizing, 500); 
            });
            function doneResizing(){
                if (windowWidth != $(window).width() || windowHeight != $(window).height()) {
                    location.reload();
                    return;
                }
            }
        });

        // auto refresh after window resizing
        jQuery(function($) {
            var windowWidth = $("#bottom").width();
            var windowHeight = $("#bottom").height();
            var id;
            $(window).resize(function() {
                clearTimeout(id)
                id = setTimeout(doneResizing, 500); 
            });
            function doneResizing(){
                if (windowWidth != $(window).width() || windowHeight != $(window).height()) {
                    location.reload();
                    return;
                }
            }
        });
        
        // Refresh after sidebar close
        function outputsize() {
            radius = document.getElementById("myRange").value
            updateGlyphs(glyphsChart, radialTimeChart, parallerCordChart, toggleGlyph, toggleLabels, toggleFeature, featurelist, radius, brtChecked, accChecked, gyrChecked, lckChecked);
            }    
        new ResizeObserver(outputsize).observe(bottom)

        //range slider 
        var slider = document.getElementById("myRange");
        var output = document.getElementById("sliderVal");
        output.innerHTML = slider.value;
        slider.oninput = function() {
            radius = this.value
            // plotCharts(this.value, toggleGlyph, toggleFeature, brtChecked, accChecked, gyrChecked, lckChecked)
            output.innerHTML = radius;
        }

        // switch to select glyphs
        $("#toggleGlyph").on('change', function() {
            if ($(this).is(':checked')) {
                toggleGlyph = "flowerGlyph";
                $("#flowerSwitch").addClass("selectedLabel")
                $("#radialSwitch").removeClass("selectedLabel")
            } else {
                toggleGlyph = "radialGlyph";
                $("#radialSwitch").addClass("selectedLabel")
                $("#flowerSwitch").removeClass("selectedLabel")
            }
            // console.log("toggle glyph switch")
            // plotCharts(slider.value, toggleGlyph, toggleFeature, brtChecked, accChecked, gyrChecked, lckChecked)
        });

        // switch to show or hide labels
        $("#toggleLabels").on('change', function() {
            if (!($(this).is(':checked'))) {
                toggleLabels = true;
                $("#showLables").addClass("selectedLabel")
                $("#hideLabels").removeClass("selectedLabel")
            } else {
                toggleLabels = false;
                $("#hideLabels").addClass("selectedLabel")
                $("#showLables").removeClass("selectedLabel")
            }
            // console.log("toggle show label switch")
        });

        // switch to select Parallel cord Features
        $("#toggleFeature").on('change', function() {
            if ($(this).is(':checked')) {
                toggleFeature = "individualFeatures";
                $("#individualFeatures").addClass("selectedLabel")
                $("#aggregatedFeatures").removeClass("selectedLabel")
            } else {
                toggleFeature = "aggregatedFeatures";
                $("#aggregatedFeatures").addClass("selectedLabel")
                $("#individualFeatures").removeClass("selectedLabel")
            }
            // console.log("toggle feature switch")
            // plotCharts(slider.value, toggleGlyph, toggleFeature, brtChecked, accChecked, gyrChecked, lckChecked)
        });

        // checkbox to select brightness
        $("#brtCheckBox").on('change', function() {
            if ($(this).is(':checked')) {
                brtChecked = true
            } else {
                brtChecked = false
            }
            // plotCharts(slider.value, toggleGlyph, toggleFeature, brtChecked, accChecked, gyrChecked, lckChecked)
        });

        // checkbox to select accelerometer
        $("#accCheckBox").on('change', function() {
            if ($(this).is(':checked')) {
                accChecked = true
            } else {
                accChecked = false
            }
            // plotCharts(slider.value, toggleGlyph, toggleFeature, brtChecked, accChecked, gyrChecked, lckChecked)
        });

        // checkbox to select gyroscope
        $("#gyrCheckBox").on('change', function() {
            if ($(this).is(':checked')) {
                gyrChecked = true
            } else {
                gyrChecked = false
            }
            // plotCharts(slider.value, toggleGlyph, toggleFeature, brtChecked, accChecked, gyrChecked, lckChecked)
        });


        // // checkbox to select gyroscope lockstate:  Decided not to implement this feature
        $("#lckCheckBox").on('change', function() {
            if ($(this).is(':checked')) {
                lckChecked = true
            } else {
                lckChecked = false
            }
            // plotCharts(slider.value, toggleGlyph, brtChecked, accChecked, gyrChecked, lckChecked)
        });

        // //togglePolarChart switch:  Decided not to implement this feature
        // var togglePolarChart = "circular"
        // $("#togglePolarChart").on('change', function() {
        //     if ($(this).is(':checked')) {
        //         togglePolarChart = "lateral";
        //         // updateFlowerGlyphs("chart1","chart2", radius = slider.value);
        //     } else {
        //         togglePolarChart = "circular";
        //         // updateGlyphs("chart1","chart2", radius = slider.value);
        //     }

        // });




        //feature select filter
//         document.getElementsByTagName('select')[0].onchange = function() {
//   var index = this.selectedIndex;
//   var inputText = this.children[index].innerHTML.trim();
//   console.log(inputText);
// }    
        // Refresh after sidebar close
        $('#featureSelect').on('change', function() {
            var data = {
                "featureColumns": $('#featureSelect').val()
            };
        });

        // $("#featureSelect").onchange = function() {
        //     
        // };

        // submit button
        $("#Submit").click(function(){
            featurelist = $('#featureSelect').val()
            w = Math.floor($('.svg1')[0].getBoundingClientRect().width);
            h = Math.floor($('.svg1')[0].getBoundingClientRect().height);
            var data = { "featureColumns": featurelist, "width":w, "height":h };
        
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(data),
                url: "/dimReduceParticipants",
                success: function(status) {
                    if (status === "status1: file updated") {
                        // console.log("FeatureData file updated")
                    }
                    if (status === "status2:single column") {
                        alert("Please select more than one column in Feature selection drop down!!!")
                        // console.log("FeatureData file reset: single column selected")
                    }
                    if (status === "status3:file reset") {
                        // console.log("FeatureData file reset: all columns selected")
                    }
                }
            });

            var delayInMilliseconds = 1000; //1 second

            setTimeout(function() {
                //your code to be executed after 1 second
                radius = document.getElementById("myRange").value
                updateGlyphs(glyphsChart, radialTimeChart, parallerCordChart, toggleGlyph, toggleLabels, toggleFeature, featurelist, radius, brtChecked, accChecked, gyrChecked, lckChecked);
            }, delayInMilliseconds);

            //uncomment this like to hide the sidebar after submit button
            // $("#sidebar").removeClass("show");
        })


        // test code
        $(document).ready(function($)
        {
        //ajax row data
    //     $.ajax({
    //         type: 'GET',
    //         url: "/dataTable",
    //         // dataType: "text/csv",
    //         success: function(data){
    //             ajax_data = data
    //             console.log(ajax_data)
    //     //         }
    //     // });
    //     // var ajax_data =
    //     // [
    //     //     {fname:"Code", lname:"With Mark", email:"mark@codewithmark.com"}, 
    //     //     {fname:"Mary", lname:"Moe", email:"mary@gmail.com"},
    //     //     {fname:"John", lname:"Doe", email:"john@yahoo.com"},
    //     //     {fname:"Julie", lname:"Dooley", email:"julie@gmail.com"},
    //     // ]



    //     var random_id = function  () 
    //     {
    //         var id_num = Math.random().toString(9).substr(2,3);
    //         var id_str = Math.random().toString(36).substr(2);
            
    //         return id_num + id_str;
    //     }


    //     //--->create data table > start
    //     var tbl = '';
    //     tbl +='<table class="table table-hover">'

    //         //--->create table header > start
    //         tbl +='<thead>';
    //             tbl +='<tr>';
    //             tbl +='<th>First Name</th>';
    //             tbl +='<th>Last Name</th>';
    //             tbl +='<th>Email</th>';
    //             tbl +='<th>Options</th>';
    //             tbl +='</tr>';
    //         tbl +='</thead>';
    //         //--->create table header > end

            
    //         //--->create table body > start
    //         tbl +='<tbody>';

    //             //--->create table body rows > start
    //             $.each(ajax_data, function(index, val) 
    //             {
    //                 //you can replace with your database row id
    //                 var row_id = random_id();

    //                 //loop through ajax row data
    //                 tbl +='<tr row_id="'+row_id+'">';
    //                     tbl +='<td ><div class="row_data" edit_type="click" col_name="fname">'+val['fname']+'</div></td>';
    //                     tbl +='<td ><div class="row_data" edit_type="click" col_name="lname">'+val['lname']+'</div></td>';
    //                     tbl +='<td ><div class="row_data" edit_type="click" col_name="email">'+val['email']+'</div></td>';

    //                     //--->edit options > start
    //                     tbl +='<td>';
                        
    //                         tbl +='<span class="btn_edit" > <a href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span>';

    //                         //only show this button if edit button is clicked
    //                         tbl +='<span class="btn_save"> <a href="#" class="btn btn-link"  row_id="'+row_id+'"> Save</a> | </span>';
    //                         tbl +='<span class="btn_cancel"> <a href="#" class="btn btn-link" row_id="'+row_id+'"> Cancel</a> | </span>';

    //                     tbl +='</td>';
    //                     //--->edit options > end
                        
    //                 tbl +='</tr>';
    //             });

    //             //--->create table body rows > end

    //         tbl +='</tbody>';
    //         //--->create table body > end

    //     tbl +='</table>'	
    //     //--->create data table > end
    //     }
    

        //out put table data
        // $(document).find('.tbl_user_data').html(tbl);

        $(document).find('.btn_save').hide();
        $(document).find('.btn_cancel').hide(); 


        //--->make div editable > start
        $(document).on('click', '.row_data', function(event) 
        {
            event.preventDefault(); 

            if($(this).attr('edit_type') == 'button')
            {
                return false; 
            }

            //make div editable
            $(this).closest('div').attr('contenteditable', 'true');
            //add bg css
            $(this).addClass('bg-warning').css('padding','5px');

            $(this).focus();
        })	
        //--->make div editable > end


        //--->save single field data > start
        $(document).on('focusout', '.row_data', function(event) 
        {
            event.preventDefault();

            if($(this).attr('edit_type') == 'button')
            {
                return false; 
            }

            var row_id = $(this).closest('tr').attr('row_id'); 
            
            var row_div = $(this)				
            .removeClass('bg-warning') //add bg css
            .css('padding','')

            var col_name = row_div.attr('col_name'); 
            var col_val = row_div.html(); 

            var arr = {};
            arr[col_name] = col_val;

            //use the "arr"	object for your ajax call
            $.extend(arr, {row_id:row_id});

            //out put to show
            $('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>');
            
        })	
        //--->save single field data > end

    
        //--->button > edit > start	
        $(document).on('click', '.btn_edit', function(event) 
        {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');

            var row_id = tbl_row.attr('row_id');

            tbl_row.find('.btn_save').show();
            tbl_row.find('.btn_cancel').show();

            //hide edit button
            tbl_row.find('.btn_edit').hide(); 

            //make the whole row editable
            tbl_row.find('.row_data')
            .attr('contenteditable', 'true')
            .attr('edit_type', 'button')
            .addClass('bg-warning')
            .css('padding','3px')

            //--->add the original entry > start
            tbl_row.find('.row_data').each(function(index, val) 
            {  
                //this will help in case user decided to click on cancel button
                $(this).attr('original_entry', $(this).html());
            }); 		
            //--->add the original entry > end

        });
        //--->button > edit > end


        //--->button > cancel > start	
        $(document).on('click', '.btn_cancel', function(event) 
        {
            event.preventDefault();

            var tbl_row = $(this).closest('tr');

            var row_id = tbl_row.attr('row_id');

            //hide save and cacel buttons
            tbl_row.find('.btn_save').hide();
            tbl_row.find('.btn_cancel').hide();

            //show edit button
            tbl_row.find('.btn_edit').show();

            //make the whole row editable
            tbl_row.find('.row_data')
            .attr('edit_type', 'click')
            .removeClass('bg-warning')
            .css('padding','') 

            tbl_row.find('.row_data').each(function(index, val) 
            {   
                $(this).html( $(this).attr('original_entry') ); 
            });  
        });
        //--->button > cancel > end

        
        //--->save whole row entery > start	
        $(document).on('click', '.btn_save', function(event) 
        {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');

            var row_id = tbl_row.attr('row_id');

            
            //hide save and cacel buttons
            tbl_row.find('.btn_save').hide();
            tbl_row.find('.btn_cancel').hide();

            //show edit button
            tbl_row.find('.btn_edit').show();


            //make the whole row editable
            tbl_row.find('.row_data')
            .attr('edit_type', 'click')
            .removeClass('bg-warning')
            .css('padding','') 

            //--->get row data > start
            var arr = {}; 
            tbl_row.find('.row_data').each(function(index, val) 
            {   
                var col_name = $(this).attr('col_name');  
                var col_val  =  $(this).html();
                arr[col_name] = col_val;
            });
            //--->get row data > end

            //use the "arr"	object for your ajax call
            $.extend(arr, {row_id:row_id});

            //out put to show
            $('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>')
            

        });
        //--->save whole row entery > end
    

    });
     

    // test code ends

    // test code
    $('#proxies').DataTable();
    // test code ends

    </script>
</body>
</html>