<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <pre>Test to fetch filtered data from Flask server</pre>

    <label for="col">Enter filename</label>
    <input type="text" id="filename" name="filename"><br><br>
    <label for="col">Enter participantId</label>
    <input type="text" id="participantId" name="participantId"><br><br>
    <input id="test" type="submit" value="Submit">

    <!-- <button id="test">Test</button> -->


    <script>
        $("#test").on("click", function() {
            console.log("Submit button clicked")
            var postForm = { //Fetch form data
                'filename': $('input[name=filename]').val(), //Store name fields value
                'participantId': $('input[name=participantId]').val() //Store name fields value
            };
            console.log(postForm)

            $.ajax({
                type: 'POST',
                data: postForm,
                url: '/filterParticipants',
                // contentType: 'csv',
                // cache: false,
                // processData: false,
                // async: false,
                success: function(data) {
                    console.log("Muzz", data);
                },
            })
        })
    </script>
</body>

</html>