<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <style type="text/css">
        svg {
            font-size: 16pt;
        }
        .foreground path {
          fill: none;
          stroke: steelblue;
        }
        .foreground path.fade {
            stroke: #000;
            stroke-opacity: .05;
        }
        .legend {
            font-size: 18px;
            font-style: oblique;
        }
        .legend line {
            stroke-width: 2px;
        }
        .setosa {
            stroke: #800;
        }
        .versicolor {
            stroke: #080;
        }
        .virginica {
            stroke: #008;
        }
        /* Brush no eixo */
        .brush .extent .selection {
          /*fill: red;*/
          fill-opacity: .3;
          stroke: #fff;
          shape-rendering: crispEdges;
        }

        .axis line, .axis path {
            fill: none;
            stroke: #000;
            stroke-width: 2px;
            shape-rendering: crispEdges;
        }
        .axis text {
            text-shadow: 0 1px 0 #fff;
            cursor: move;
            font-size: 13pt;
            fill: black;
        }

        .background path {
          fill: none;
          stroke: #ddd;
          shape-rendering: crispEdges;
        }
    </style>
</head>
<body>
<h2>
    Many Thanks To kotomiDu from Git <br>
     Edgar Anderson’s <i>Iris</i> data set<br>
    parallel coordinates
</h2>
<script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript">
    dragging = {};
    var background;

    var species = ["setosa", "versicolor", "virginica"],
        traits = ["sepal length", "petal length", "sepal width", "petal width"];
    var m = [80, 160, 200, 160],
        w = 1280 - m[1] - m[3],
        h = 700 - m[0] - m[2];
    var x = d3.scalePoint().domain(traits).range([0, w]),
        y = {};
    var line = d3.line(),
//        axis = d3.svg.axis().orient("left"),
        axis = d3.axisLeft(),
        foreground;
    var svg = d3.select("body").append("svg")
        .attr("width", w + m[1] + m[3])
        .attr("height", h + m[0] + m[2])
        .append("g")
        .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

    d3.csv("../data/iris.csv", function(flowers) {
            // Create a scale and brush for each trait.
            traits.forEach(function(d) {
                // Coerce values to numbers.
                flowers.forEach(function(p) { p[d] = +p[d]; });
                y[d] = d3.scaleLinear()
                    .domain(d3.extent(flowers, function(p) { return p[d]; }))
                    .range([h, 0]);
                y[d].brush = d3.brushY()
                    .extent([[-7, y[d].range()[1]], [7, y[d].range()[0]]]) //刷子范围
                    .on("brush", brush)
                    .on("start", brushstart)
                    .on("end", brush);
            });

          background = svg.append("g")
          .attr("class", "background")
          .selectAll("path")
          .data(flowers)
          .enter().append("path")
          .attr("d", path);

        // Add a legend.
        var legend = svg.selectAll("g.legend")
            .data(species)
            .enter().append("svg:g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + (i * 20 + 584) + ")"; });
        
        legend.append("svg:line")
            .attr("class", String)
            .attr("x2", 8);
        
        legend.append("svg:text")
            .attr("x", 12)
            .attr("dy", ".31em")
            .text(function(d) { return "Iris " + d; });

        // Add foreground lines.
        foreground = svg.append("g")
          .attr("class", "foreground")
          .selectAll("path")
          .data(flowers)
          .enter().append("path")
          .attr("d", path)
          .attr("class", function(d) { return d.species; });

        // Add a group element for each trait.
        var g = svg.selectAll(".trait")
            .data(traits)
            .enter().append("svg:g")
            .attr("class", "trait")
            .attr("transform", function(d) { return "translate(" + x(d) + ")"; })
            .call(d3.drag()
                .subject(function(d) { return {x: x(d)}; })
                .on("start", function(d) {
                  dragging[d] = x(d);
                  background.attr("visibility", "hidden");
                })
                .on("drag", function(d) {
                  dragging[d] = Math.min(w, Math.max(0, d3.event.x));
                  foreground.attr("d", path);
                  traits.sort(function(a, b) { return position(a) - position(b); });
                  x.domain(traits);
                  g.attr("transform", function(d) { return "translate(" + position(d) + ")"; })
                })
                .on("end", function(d) {
                  delete dragging[d];
                  transition(d3.select(this)).attr("transform", "translate(" + x(d) + ")");
                  transition(foreground).attr("d", path);
                  background
                      .attr("d", path)
                      .transition()
                      .delay(500)
                      .duration(0)
                      .attr("visibility", null);
                })
            );

        // Add an axis and title.
        g.append("svg:g")
            .attr("class", "axis")
            .each(function(d) { d3.select(this).call(d3.axisLeft(y[d])); })
            .append("svg:text")
            .attr("text-anchor", "middle")
            .attr("y", -9)
            .text(function(d) { return d; });



                // Add a brush for each axis.
                    g.append("svg:g")
                        .attr("class", "brush")
                        .each(function(d) { d3.select(this).call(y[d].brush); })
                        .selectAll("rect")
                        .attr("x", -8)
                        .attr("width", 16);


                    function position(d) {
                      var v = dragging[d];
                      return v == null ? x(d) : v;
                    }
                    function transition(g) {
                      return g.transition().duration(500);
                    }
                    // Returns the path for a given data point.
                    function path(d) {
                      return line(traits.map(function(p) { return [position(p), y[p](d[p])]; }));
                    }


                    function dragstart(d) {
                        i = traits.indexOf(d);
                    }

                    function drag(d) {
                        x.range()[i] = d3.event.x; //unsovled issue
                        traits.sort(function(a, b) { return x(a) - x(b); });
                        g.attr("transform", function(d) { return "translate(" + x(d) + ")"; });
                        foreground.attr("d", path);
                    }

                    function dragend(d) {
            //            x.domain(traits).rangePoints([0, w]);
                        var t = d3.transition().duration(500);
                        t.selectAll(".trait").attr("transform", function(d) { return "translate(" + x(d) + ")"; });
                        t.selectAll(".foreground path").attr("d", path);
                    }


                    function brushstart() {
                        d3.event.sourceEvent.stopPropagation();
                      }
                    // Handles a brush event, toggling the display of foreground lines.
                    function brush() {
                        var actives = [];
                        //filter brushed extents
                        svg.selectAll(".brush")
                            .filter(function(d) {
                                return d3.brushSelection(this);
                            })
                            .each(function(d) {
                                actives.push({
                                    dimension: d,
                                    extent: d3.brushSelection(this)
                                });
                            });
                        //set un-brushed foreground line disappear
                        foreground.classed("fade", function(d,i) {
                            return !actives.every(function(active) {
                                var dim = active.dimension;
                                return active.extent[0] <= y[dim](d[dim]) && y[dim](d[dim])  <= active.extent[1];
                            });
                        });
                    }



    });

</script>
</body>
</html>