<!doctype html>
<html>

<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/d3-dsv@3"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.8/d3.min.js" type="text/JavaScript"></script> -->
    <!-- <script src="../js/muzz.js"></script> -->
    <style>
        line {
            stroke: black;
            /* fill: #000000; */
            opacity: 0.8;
            stroke-width: 1px;
        }
    </style>
    <link rel="shortcut icon" href="#">
</head>

<body>
    <h2 id="myadd">Test workspace2...</h2>
    <div id="mydiv"></div>

    <p> Prototype chart for visualizing multi variate data for single PROSIT participant</p>
    <svg id="myViz1" width=250 height=250></svg>

    <!-- <script src="../js/grid.js"></script> -->
    <script src="../js/polar_chart.js"></script>
    <!-- <script src="../js/bubble_chart.js"></script> -->
    <!-- <script src="../js/bubble_chart1.js"></script> -->
    <!-- <script src="../js/d3_table_example.js"></script> -->
    <!-- <script src="../js/circle_packing.js"></script> -->
</body>
<script>
    // drawGraph_test([1, 2, 3, 4, 5, 6, 7, 8])
    // create_table()
    polar_chart("myViz1")
        // bubble_chart()
</script>

</html>